USE [master]
GO
/****** Object:  Database [Mmotkim2]    Script Date: 3/11/2023 1:11:12 PM ******/
CREATE DATABASE [Mmotkim2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mmotkim2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MMOTKIM\MSSQL\DATA\Mmotkim2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mmotkim2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MMOTKIM\MSSQL\DATA\Mmotkim2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mmotkim2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mmotkim2]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 3/11/2023 1:11:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[ingId] [int] NOT NULL,
	[ingName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ingredients_1] PRIMARY KEY CLUSTERED 
(
	[ingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 3/11/2023 1:11:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[recipeId] [int] NOT NULL,
	[isOfficial] [bit] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[instructions] [nvarchar](max) NULL,
	[tags] [nvarchar](max) NULL,
	[servings] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[recipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 3/11/2023 1:11:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[recipeId] [int] NOT NULL,
	[ingId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[savedRecipes]    Script Date: 3/11/2023 1:11:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[savedRecipes](
	[userId] [int] NOT NULL,
	[recipeId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/11/2023 1:11:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY (1,1) NOT NULL,
	[roleId] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Ingredients] FOREIGN KEY([ingId])
REFERENCES [dbo].[Ingredients] ([ingId])
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredients_Ingredients]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Recipe] FOREIGN KEY([recipeId])
REFERENCES [dbo].[Recipe] ([recipeId])
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredients_Recipe]
GO
ALTER TABLE [dbo].[savedRecipes]  WITH CHECK ADD  CONSTRAINT [FK_savedRecipes_Recipe] FOREIGN KEY([recipeId])
REFERENCES [dbo].[Recipe] ([recipeId])
GO
ALTER TABLE [dbo].[savedRecipes] CHECK CONSTRAINT [FK_savedRecipes_Recipe]
GO
ALTER TABLE [dbo].[savedRecipes]  WITH CHECK ADD  CONSTRAINT [FK_savedRecipes_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[savedRecipes] CHECK CONSTRAINT [FK_savedRecipes_User]
GO
USE [master]
GO
